# Main Analysis

Done w/ the data created from the `data_ingestion.ipynb`.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [6]:
data = pd.read_csv("./Data/dataset_2018-11-21.csv")
data.index = data.Date
data = data.drop(["Date"], axis=1)
data.head()

,Open,High,Low,Close,Adj Close,Volume,FEDFUNDS,INDPRO,VAL^US,MOM^US
Date,,,,,,,,,,
1972-02-01,103.940002,107.160004,103.099998,106.570000,106.570000,376260000.0,3.29,41.6800,-6.0%,4.3%
1972-03-01,106.570000,109.750000,105.860001,107.199997,107.199997,403650000.0,3.83,41.9758,-1.0%,1.3%
1972-04-01,107.199997,111.110001,106.180000,107.669998,107.669998,367990000.0,4.17,42.4207,-0.4%,2.1%
1972-05-01,107.669998,111.480003,103.830002,109.529999,109.529999,335850000.0,4.27,42.3956,-5.7%,5.5%
1972-06-01,109.529999,110.510002,105.940002,107.139999,107.139999,314510000.0,4.46,42.5178,-3.6%,2.3%

In [7]:
!open AMproject.pdf